    <div class="row">
        <div class="col"><img src="assets\cat.jpg" height="300" width="300" class="rounded-circle"/></div>
        <div class="col"></div>
        <div class="col-8">
            <mat-card >
                <mat-card-title class="text-center">Cat Details</mat-card-title>
                <mat-card-content class="mystyle">
                    <div class="m-5">
                            <div class="list-group">
                                <table class="table">
                                    <tbody>
                                      <tr>
                                        <th scope="row">Name</th>
                                        <td>{{cat.catName}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Gender</th>
                                        <td>{{cat.catGender}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Breed</th>
                                        <td>{{cat.catBreed}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">weight</th>
                                        <td>{{cat.catWeight }} kg</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Age</th>
                                        <td>{{cat.catAge}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Details</th>
                                        <td>{{cat.catDetails}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">color</th>
                                        <td>{{cat.catColor}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Name</th>
                                        <td>{{cat.catName}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>               
        </div>
    </div>
